<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (client(); as clientRef) {
      <div>
        <h2 data-cy="clientDetailsHeading"><span jhiTranslate="loyaltyApplicationApp.client.detail.title">Client</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="loyaltyApplicationApp.client.id">Id</span></dt>
          <dd>
            <span>{{ clientRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.firstName">First Name</span></dt>
          <dd>
            <span>{{ clientRef.firstName }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.lastName">Last Name</span></dt>
          <dd>
            <span>{{ clientRef.lastName }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.email">Email</span></dt>
          <dd>
            <span>{{ clientRef.email }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.dateOfBirth">Date Of Birth</span></dt>
          <dd>
            <span>{{ clientRef.dateOfBirth }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.emailVerified">Email Verified</span></dt>
          <dd>
            <span>{{ clientRef.emailVerified }}</span>
          </dd>
          <dt><span jhiTranslate="loyaltyApplicationApp.client.signUpDate">Sign Up Date</span></dt>
          <dd>
            <span>{{ clientRef.signUpDate }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/client', clientRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
