<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-client-heading" data-cy="ClientCreateUpdateHeading" jhiTranslate="loyaltyApplicationApp.client.home.createOrEditLabel">
        Create or edit a Client
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="loyaltyApplicationApp.client.id">Id</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" for="field_firstName" jhiTranslate="loyaltyApplicationApp.client.firstName">First Name</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_lastName" jhiTranslate="loyaltyApplicationApp.client.lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_email" jhiTranslate="loyaltyApplicationApp.client.email">Email</label>
          <input type="text" class="form-control" name="email" id="field_email" data-cy="email" formControlName="email" />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_dateOfBirth" jhiTranslate="loyaltyApplicationApp.client.dateOfBirth">Date Of Birth</label>
          <input
            type="text"
            class="form-control"
            name="dateOfBirth"
            id="field_dateOfBirth"
            data-cy="dateOfBirth"
            formControlName="dateOfBirth"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_emailVerified" jhiTranslate="loyaltyApplicationApp.client.emailVerified"
            >Email Verified</label
          >
          <input
            type="checkbox"
            class="form-check"
            name="emailVerified"
            id="field_emailVerified"
            data-cy="emailVerified"
            formControlName="emailVerified"
          />
        </div>

        <div class="mb-3">
          <label class="form-label" for="field_signUpDate" jhiTranslate="loyaltyApplicationApp.client.signUpDate">Sign Up Date</label>
          <input
            type="text"
            class="form-control"
            name="signUpDate"
            id="field_signUpDate"
            data-cy="signUpDate"
            formControlName="signUpDate"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
